.productList{
  width:100%;
  border-collapse: collapse;
  margin-top:3px;
  th{
    height:50px;
    background:#ff6f03;
    color:#FFFFFF;
    font-size:12px;
    text-align:center;
  }
  td{
    text-align: center;
  }
  tbody{
    tr{
      line-height:50px;
      cursor: pointer;
    }
    tr:nth-child(even){
      background:#E4E4E4;
    }
  }
}

.productListTitle{
  padding-left:20px;
  margin-top:20px;
  margin-bottom:10px;
  font-size:18px;
}