@import "../../style/var.scss";


.imgPreview{
  width: 50%;
  border:1px solid #eeeeee;
  background:#fff;
  text-align: center;
  margin:20px 25% 10px;
  cursor: pointer;
  text-align: center;
  >img{
    width:100%;
  }
  .imgIcon{
    margin: 50px 0px;
  }
}

.upLoadBtn{
  width: 60px;
  height: 25px;
  display: inline-block;
  background: #007fff;
  color: #fff;
  text-align: center;
  line-height: 25px;
  margin: 0px auto 10px;
  cursor: pointer;
  font-size: 12px;
}
.delBtn{
  width: 60px;
  height: 25px;
  display: inline-block;
  background: #007fff;
  color: #fff;
  text-align: center;
  line-height: 25px;
  margin: 0px auto 10px;
  cursor: pointer;
  font-size: 12px;
}

.imgUpload{
  margin-left:250px;
  margin-bottom:15px;
  >div:nth-child(1){
    margin-bottom:10px;
      width:250px;
      height:250px;
      border:1px solid gray;
      cursor: pointer;
    >div{
       text-align: center;
       line-height:200px;
       font-size:200px;
       img{
         width:100%;
         height:100%;
       }
    }

    }
  .upBtn{
    width:80px;
    height:30px;
    display:inline-block;
    line-height: 30px;
    text-align: center;
    color:#fff;
    margin-left:80px;
    cursor: pointer;
    background:$commonMainColor;
  }

  .urlShow{
    margin-right:30px;
  }
}
